div, span, h1, h2, h3, h4, h5, h6, li, ul, ol, button, figure, main, header, body, html, a, abbr,
svg {
  padding: 0;
  margin: 0;
  border: 0;

  color: inherit;
  background: transparent;
  list-style: none;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}